#### Relevant url:
https://medium.com/swlh/how-to-scrape-tweets-by-location-in-python-using-snscrape-8c870fa6ec25#:~:text=There%20are%20two%20ways%20to,as%20part%20of%20their%20profile

In [1]:
import pandas as pd
import snscrape.modules.twitter as sntwitter
import itertools

In [2]:
#Shortened code to fetch the first (i.e. most recent) 100 tweets that contains the phrase data science 
pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    '"data science"').get_items(), 100))

,url,date,content,renderedContent,id,user,replyCount,retweetCount,likeCount,quoteCount,...,media,retweetedTweet,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags
0,https://twitter.com/siele_justus/status/157303...,2022-09-22 19:52:36+00:00,"@HarunMbaabu if possible, organise for data sc...","@HarunMbaabu if possible, organise for data sc...",1573037567339028483,"{'username': 'siele_justus', 'id': 12463875731...",0,0,0,0,...,None,None,None,NaN,None,"[{'username': 'HarunMbaabu', 'id': 11935383927...",None,None,None,None
1,https://twitter.com/DVCuervo/status/1573037481...,2022-09-22 19:52:15+00:00,#SEOnderground el s√∫per equipo de data science...,#SEOnderground el s√∫per equipo de data science...,1573037481120890881,"{'username': 'DVCuervo', 'id': 277587293, 'dis...",0,0,1,0,...,[{'previewUrl': 'https://pbs.twimg.com/media/F...,None,None,NaN,None,None,None,None,[SEOnderground],None
2,https://twitter.com/machinelearnflx/status/157...,2022-09-22 19:51:39+00:00,eugeneyan/applied-ml: üìö Papers &amp; tech blog...,eugeneyan/applied-ml: üìö Papers &amp; tech blog...,1573037327282323462,"{'username': 'machinelearnflx', 'id': 48208042...",0,0,1,0,...,None,None,None,NaN,None,None,None,None,"[DataScience, MachineLearning]",None
3,https://twitter.com/DonBogotano/status/1573037...,2022-09-22 19:50:24+00:00,Una charla muy interesante la de @inkasunka so...,Una charla muy interesante la de @inkasunka so...,1573037012457820168,"{'username': 'DonBogotano', 'id': 345505415, '...",1,0,1,0,...,[{'previewUrl': 'https://pbs.twimg.com/media/F...,None,None,NaN,None,"[{'username': 'inkasunka', 'id': 314778774, 'd...",None,None,"[SEOnderground, SEO]",None
4,https://twitter.com/AbdnCHDS/status/1573036848...,2022-09-22 19:49:45+00:00,Check out @aberdeenuni Open Access Week. Lots ...,Check out @aberdeenuni Open Access Week. Lots ...,1573036848867328002,"{'username': 'AbdnCHDS', 'id': 935544921246793...",0,1,1,0,...,None,None,{'url': 'https://twitter.com/OpenResearchUoA/s...,NaN,None,"[{'username': 'aberdeenuni', 'id': 20427406, '...",None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,https://twitter.com/Willv4_0/status/1573023829...,2022-09-22 18:58:01+00:00,4 Essential Python Projects for Beginners in D...,4 Essential Python Projects for Beginners in D...,1573023829840265217,"{'username': 'Willv4_0', 'id': 31139206, 'disp...",0,1,0,0,...,None,None,None,NaN,None,None,None,None,None,None
96,https://twitter.com/DataSciSalon/status/157302...,2022-09-22 18:57:43+00:00,@DataSciSalon is partnering with @CIOApplicati...,@DataSciSalon is partnering with @CIOApplicati...,1573023756142137344,"{'username': 'DataSciSalon', 'id': 82901872604...",0,0,0,0,...,None,None,None,NaN,None,"[{'username': 'DataSciSalon', 'id': 8290187260...",None,None,None,None
97,https://twitter.com/KaskadaInc/status/15730235...,2022-09-22 18:56:55+00:00,Kaskada provides rapid development and trainin...,Kaskada provides rapid development and trainin...,1573023552776769536,"{'username': 'KaskadaInc', 'id': 9617782160703...",0,1,0,0,...,[{'thumbnailUrl': 'https://pbs.twimg.com/ext_t...,None,None,NaN,None,None,None,None,"[data, development, ml, machinelearning, dataa...",None
98,https://twitter.com/CPetersen_CS/status/157302...,2022-09-22 18:54:39+00:00,"A5) [agreeing with the gang] And, enabling cit...","A5) [agreeing with the gang] And, enabling cit...",1573022985581125632,"{'username': 'CPetersen_CS', 'id': 458979801, ...",0,2,1,0,...,None,None,None,NaN,None,"[{'username': 'nyike', 'id': 16693331, 'displa...",None,None,[ciochat],None
99,https://twitter.com/MatildaKohler3/status/1573...,2022-09-22 18:49:23+00:00,2 in 1 ‡∏ä‡∏∏‡∏î‡∏ß‡∏¥‡∏ä‡∏≤ Data Science + ‡∏ß‡∏¥‡∏ä‡∏≤ Attacking t...,2 in 1 ‡∏ä‡∏∏‡∏î‡∏ß‡∏¥‡∏ä‡∏≤ Data Science + ‡∏ß‡∏¥‡∏ä‡∏≤ Attacking t...,1573021658142515201,"{'username': 'MatildaKohler3', 'id': 153580131...",0,0,0,0,...,None,None,None,NaN,None,None,None,None,None,None

#### The TwitterSearchScraper uses Twitter‚Äôs advanced search; for an in depth run down of all its capabilities check out this table ‚Äî I cannot recommend it enough!

In [7]:
#To find all tweets about pizza in Los Angeles. This can be achieved using the following code:

df_city = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    'pizza near:"Los Angeles" within:10km').get_items(), 50))[['date', 'content']]

#### OR

In [10]:
# Instead of using the city‚Äôs name you can use its coordinates:

loc = '34.052235, -118.243683, 10km'
df_coord = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    'pizza geocode:"{}"'.format(loc)).get_items(), 50))[['date', 'content']]

In [13]:
df_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     50 non-null     datetime64[ns, UTC]
 1   content  50 non-null     object
dtypes: datetime64[ns, UTC](1), object(1)
memory usage: 928.0+ bytes

In [14]:
df_coord.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     50 non-null     datetime64[ns, UTC]
 1   content  50 non-null     object
dtypes: datetime64[ns, UTC](1), object(1)
memory usage: 928.0+ bytes

In [31]:
loc = '34.052235, -118.243683, 100km'
df_coord = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    'GoDaddy geocode:"{}"'.format(loc)).get_items(), 5000))[['user', 'date','content']]

df_coord['user_location'] =  df_coord['user'].apply(lambda x: x['location'])
df_coord['user'] =  df_coord['user'].apply(lambda x: x['username'])

In [32]:
df_coord

,user,date,content,user_location
0,tayvano_,2022-09-22 13:19:55+00:00,2Ô∏è‚É£ Liquid CEX\nData breach / PII extraction\n...,"Los Angeles, CA"
1,sethakatz,2022-09-21 20:40:37+00:00,@RSMUSLLP\n@allenmatkins\nCathay Bank\n@ClarkB...,"Los Angeles, CA"
2,RAY_UR6IX,2022-09-20 20:30:07+00:00,"@nandoodles n the last 2 weeks, I notified MyP...",Temecula Ca
3,LigLending,2022-09-20 17:57:09+00:00,Proudly presenting https://t.co/BHqqQMxWaD. Ch...,"Downey, CA"
4,edgybranding,2022-09-20 16:03:47+00:00,Some things you should know about Dan/GoDaddy ...,"Santa Monica, CA"
...,...,...,...,...
1482,FreddieCarthy,2010-10-02 05:20:58+00:00,I downloaded the GoDaddy iPhone app and immedi...,PDX
1483,jasonlankow,2010-08-02 22:41:51+00:00,Cool - 30% off on godaddy.com registrations - ...,meepzorp.eth Íú©.
1484,__loganc,2010-05-27 03:27:13+00:00,"@lilzaphod just an fyi, looks like lilzaphod.c...","Los Angeles, CA"
1485,grhansen,2010-04-07 17:52:01+00:00,"Since searching for hosting services, it appea...","Stillwater, MN"
1486,jonirvine,2010-03-12 00:43:43+00:00,@djword doesn't look like it is available when...,"Portland, OR, USA"

In [44]:
df_coord.to_csv('tweets within 100 Km of Los Angeles location.csv')

In [30]:
#Initally 'user' column consisted of dictionary of users in each row 
df_coord['user'][0]

{'username': 'tayvano_',
 'id': 19748227,
 'displayname': 'Tay ü¶äüíô',
 'description': 'building @metamask ü¶ä prev ceo-ing @mycrypto üíô part-time wizard. lethal founder. top assassin ‚ú® dont come @ me less youre ready to battle üó° üíñ  tay.eth',
 'rawDescription': 'building @metamask ü¶ä prev ceo-ing @mycrypto üíô part-time wizard. lethal founder. top assassin ‚ú® dont come @ me less youre ready to battle üó° üíñ  tay.eth',
 'descriptionUrls': None,
 'verified': True,
 'created': datetime.datetime(2009, 1, 30, 1, 46, 41, tzinfo=datetime.timezone.utc),
 'followersCount': 57382,
 'friendsCount': 6623,
 'statusesCount': 20900,
 'favouritesCount': 17492,
 'listedCount': 1276,
 'mediaCount': 2440,
 'location': 'Los Angeles, CA',
 'protected': False,
 'linkUrl': 'https://metamask.io/',
 'linkTcourl': 'https://t.co/KiKvfYKyw9',
 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1558729910671183873/RHtt9Zgf_normal.jpg',
 'profileBannerUrl': 'https://pbs.twimg.com/profile_banners/19748227/1405371955',
 'label': None}

In [39]:
df= pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    'GoDaddy').get_items(), 10000))[['user','date', 'content']]

df['user_location'] =  df['user'].apply(lambda x: x['location'])
df

,user,date,content,user_location
0,"{'username': 'Braxtonmanley', 'id': 33365139, ...",2022-09-22 22:10:24+00:00,@iamdulma Super underrated graphic design app:...,"Austin, TX"
1,"{'username': 'SGEmail2', 'id': 154764207240801...",2022-09-22 22:10:24+00:00,@GoDaddy - online form error- \nThere was an e...,
2,"{'username': 'Rachelgaffney', 'id': 19592472, ...",2022-09-22 22:09:49+00:00,@GoDaddy I am now on Day #4 of my website not ...,"Dallas,Tx"
3,"{'username': 'marcflood', 'id': 21065058, 'dis...",2022-09-22 22:06:10+00:00,GoDaddy Alternatives and Competitors https://t...,"Dallas, TX"
4,"{'username': 'GoDaddyOSS', 'id': 9595630949376...",2022-09-22 21:59:46+00:00,Experimentation on the brain? Check out our la...,
...,...,...,...,...
9995,"{'username': 'TheGoopyGhost', 'id': 35699406, ...",2022-08-16 10:51:07+00:00,The @GoDaddy tech/SEO expert who answered my c...,
9996,"{'username': 'CmHazza', 'id': 1345464922831007...",2022-08-16 10:38:20+00:00,@kotakmakan @cm0102legends This. I used WiX in...,
9997,"{'username': 'gettaxomate', 'id': 818987754952...",2022-08-16 10:23:29+00:00,Wave Accounting has some worth its cost additi...,
9998,"{'username': 'metanhs', 'id': 1371703825443213...",2022-08-16 10:18:29+00:00,@eddywangping @GoDaddy needs to sort its algor...,United States
9999,"{'username': 'ecarlesi', 'id': 19444180, 'disp...",2022-08-16 10:18:05+00:00,Possible threat on hxxp://mivtop[.]com #godaddy,"Roma, Lazio"

In [42]:
df['user_location'].unique()

array(['Austin, TX', '', 'Dallas,Tx', ..., 'Waterville Maine', 'DK',
       'Logo for your startup in 5min‚Üí'], dtype=object)

In [43]:
df.to_csv('10000 tweets of GoDaddy with location.csv')