In [ ]:
### dictionary
### syntax:
# {'key1':'val1','key2':'val2','key3','val3',.......,'keyN':'valN'}
# [key1,key2,key3...keyN] => any python constant values like, string, int, float,
# [val1,val2,val3...valN] => any python supported data types; eg, list, tuple, dictionary

In [1]:
students = {'name':['Peter','Jack','Jack','Rossy'],
'rollno':(1,2,3,4),
'address':{'city':['A','B','C','D'],
          'state':['MH','TN','KL','DL']},
'contactno':[12,45,67,89]}

In [2]:
print(type(students))
students

<class 'dict'>

{'name': ['Peter', 'Jack', 'Jack', 'Rossy'],
 'rollno': (1, 2, 3, 4),
 'address': {'city': ['A', 'B', 'C', 'D'], 'state': ['MH', 'TN', 'KL', 'DL']},
 'contactno': [12, 45, 67, 89]}

# 
- unordered data type
- key values can not be duplicates, field members can take duplicate value
- index by name
- mutable

In [3]:
{'name':['Peter','Jack','Jack','Rossy'],
'rollno':(1,2,3,4),
'address':{'city':['A','B','C','D'],
          'state':['MH','TN','KL','DL']},
'contactno':[12,45,67,89],
'contactno':[125,45,67,89]}

{'name': ['Peter', 'Jack', 'Jack', 'Rossy'],
 'rollno': (1, 2, 3, 4),
 'address': {'city': ['A', 'B', 'C', 'D'], 'state': ['MH', 'TN', 'KL', 'DL']},
 'contactno': [125, 45, 67, 89]}

In [4]:
{'name':['Peter','Jack','Jack','Rossy'],
'rollno':(1,2,3,4),
'address':{'city':['A','B','C','D'],
          'state':['MH','TN','KL','DL']},
'contactno':[12,45,67,89],
'contactno2':[12,45,67,89]}

{'name': ['Peter', 'Jack', 'Jack', 'Rossy'],
 'rollno': (1, 2, 3, 4),
 'address': {'city': ['A', 'B', 'C', 'D'], 'state': ['MH', 'TN', 'KL', 'DL']},
 'contactno': [12, 45, 67, 89],
 'contactno2': [12, 45, 67, 89]}

In [5]:
### access values of the elements in dictionary

In [6]:
students

{'name': ['Peter', 'Jack', 'Jack', 'Rossy'],
 'rollno': (1, 2, 3, 4),
 'address': {'city': ['A', 'B', 'C', 'D'], 'state': ['MH', 'TN', 'KL', 'DL']},
 'contactno': [12, 45, 67, 89]}

In [8]:
students['rollno'][0]

1

In [10]:
students['name'][0]

'Peter'

In [15]:
## first student state info
students['address']['state'][0]

'MH'

In [20]:
{'name':['Peter','Jack','Jill','Rossy'],
'rollno':(1,2,3,8,5),
'address':{'city':['A','B','C','D'],
          'state':['MH','TN','KL','DL']},
'contactno':[12,45,67]}

{'name': ['Peter', 'Jack', 'Jill', 'Rossy'],
 'rollno': (1, 2, 3, 8, 5),
 'address': {'city': ['A', 'B', 'C', 'D'], 'state': ['MH', 'TN', 'KL', 'DL']},
 'contactno': [12, 45, 67]}

In [21]:
# loop through dictionary

In [27]:
# students.keys()

In [22]:
for k in students.keys():
    print(k)

name
rollno
address
contactno

In [25]:
for v in students.values():
    print(v)

['Peter', 'Jack', 'Jack', 'Rossy']
(1, 2, 3, 4)
{'city': ['A', 'B', 'C', 'D'], 'state': ['MH', 'TN', 'KL', 'DL']}
[12, 45, 67, 89]

In [24]:
for i in students.items():
    print(i)

('name', ['Peter', 'Jack', 'Jack', 'Rossy'])
('rollno', (1, 2, 3, 4))
('address', {'city': ['A', 'B', 'C', 'D'], 'state': ['MH', 'TN', 'KL', 'DL']})
('contactno', [12, 45, 67, 89])

In [29]:
students.update({'scores':[100,80,90,70]})

In [30]:
students

{'name': ['Peter', 'Jack', 'Jack', 'Rossy'],
 'rollno': (1, 2, 3, 4),
 'address': {'city': ['A', 'B', 'C', 'D'], 'state': ['MH', 'TN', 'KL', 'DL']},
 'contactno': [12, 45, 67, 89],
 'scores': [100, 80, 90, 70]}

In [37]:
students = {'NAMES': ['Peter', 'Jack', 'Jack', 'Rossy'],
 'rollno': (1, 2, 3, 4),
 'address': {'city': ['A', 'B', 'C', 'D'], 'state': ['MH', 'TN', 'KL', 'DL']},
 'contactno': [12, 45, 67, 89],
 'scores': [100, 80, 90, 70]}

In [38]:
students

{'NAMES': ['Peter', 'Jack', 'Jack', 'Rossy'],
 'rollno': (1, 2, 3, 4),
 'address': {'city': ['A', 'B', 'C', 'D'], 'state': ['MH', 'TN', 'KL', 'DL']},
 'contactno': [12, 45, 67, 89],
 'scores': [100, 80, 90, 70]}

In [39]:
{'name': 'Peter','rollno' :5, 'address':'MH','scores':90}

{'name': 'Peter', 'rollno': 5, 'address': 'MH', 'scores': 90}

In [63]:
dict(zip(['a','b'],[1,2]))

{'a': 1, 'b': 2}

## sets
 - unordered data
 - unindexable
 - duplicate members not allowed

In [40]:
mylist = [1,2,3,4,2]
mylist

[1, 2, 3, 4, 2]

In [43]:
print(type({}))
print(type({1,2,3,4,5,6}))

<class 'dict'>
<class 'set'>

In [44]:
{1,2,3,4}

{1, 2, 3, 4}

In [48]:
set1 = {7,1,2,3,3,4,6,7,1,2,3,4,5,7}
set1

{1, 2, 3, 4, 5, 6, 7}

In [61]:
set1 = set(range(1,21))
set2 = set(range(15,31))
print(set1)

print('\n')
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}


{15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30}

In [62]:
set1.symmetric_difference(set2)

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30}

In [59]:
## common elements
set1.intersection(set2)

{15, 16, 17, 18, 19, 20}

In [60]:
print(set1)
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{15, 16, 17, 18, 19, 20}

In [52]:
set1.difference(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [53]:
set2.difference(set1)

{21, 22, 23, 24, 25, 26, 27, 28, 29, 30}

In [51]:
## union elements
set1.union(set2)

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30}