In [1]:
# list, tuple, disctionary, set

In [2]:
# tuple
# syntax: (val1,val2,val3,val4....valN)

List 
    - ordered data
    - mutable
    - hetreogeous data
    - duplicate members allowed
    - indexable

Tuple 
    - ordered data
    - immutable
    - hetreogeous data
    - duplicate members allowed
    - indexable

In [3]:
mylist = list(range(1,10))
mytuple = (1,2,3,4,5,6,7,8,9)

print(type(mylist))
print(type(mytuple))
print(mylist)
print(mytuple)

<class 'list'>
<class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [4]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
tuple(mylist)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
list(mytuple)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
mytuple = (1,2,3,4,5,6,7,8,9,1,2,3,4,5)

print(type(mytuple))
print(mytuple)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5)

In [8]:
mytuple = (1,2,3,4,5,6.0,'7',8,9,1,2,3,4,[5],(1,2)) # mixed data type

print(type(mytuple))
print(mytuple)

<class 'tuple'>
(1, 2, 3, 4, 5, 6.0, '7', 8, 9, 1, 2, 3, 4, [5], (1, 2))

#### indexing/negative indexing - works similar to the list object

In [9]:
# fetch tuple (1,2)
print(mytuple[-1])
print(mytuple[14])

(1, 2)
(1, 2)

In [10]:
mytuple = (1,2,(3,4,5,(6.0, 70,(30,80,'B'))),'7',8,9,1,2,3,4,[5,[20,40,90,'String']],(1,2))
# fetch 'B'
print(mytuple[2])
print(mytuple[2][-1])
print(mytuple[2][-1][-1])
print(mytuple[2][-1][-1][-1])

# fetch ['String']
print(mytuple[-2])
print(mytuple[-2][-1][-1])

(3, 4, 5, (6.0, 70, (30, 80, 'B')))
(6.0, 70, (30, 80, 'B'))
(30, 80, 'B')
B
[5, [20, 40, 90, 'String']]
String

#### slicing/negative slicing - works similar to the list object

In [11]:
mytuple = (1,2,(3,4,5,(6.0, 70,(30,80,'B'))),'7',8,9,1,2,3,4,[5,[20,40,90,'String']],(1,2))
# fetch '8,9,1,2'
print(mytuple[-8:-4])
print(mytuple[4:8])

# fetch [5,[20,40,90,'String']],(1,2)
print(mytuple[-2:])
print(mytuple[10:])
print(mytuple[len(mytuple)-2:])

(8, 9, 1, 2)
(8, 9, 1, 2)
([5, [20, 40, 90, 'String']], (1, 2))
([5, [20, 40, 90, 'String']], (1, 2))
([5, [20, 40, 90, 'String']], (1, 2))

In [12]:
## tuple is immutable
# mytuple[2][-1][-1][-1] = 'C'
mytuple = (1,2,(3,4,5,(6.0, 70,(30,80,'B'))),'7',8,9,1,2,3,4,[5,[20,40,90,'String']],(1,2))

mylist = list(mytuple) 
print(mylist)
# mylist[2][-1][-1][-1] = 'C'

[1, 2, (3, 4, 5, (6.0, 70, (30, 80, 'B'))), '7', 8, 9, 1, 2, 3, 4, [5, [20, 40, 90, 'String']], (1, 2)]

In [13]:
# mytuple[3] = 7
mylist[3] = 7
print(mylist)

[1, 2, (3, 4, 5, (6.0, 70, (30, 80, 'B'))), 7, 8, 9, 1, 2, 3, 4, [5, [20, 40, 90, 'String']], (1, 2)]

In [14]:
# write -> modify, insert, drop/remove

In [15]:
# t = (1,2,[3,4])
# t[-1][1] = 9
# t

In [16]:
mytuple.count(1)

2

In [17]:
mytuple.index((2))

1

In [18]:
for each in [1,2,3,4,5,6,7,8,9,10]:
    print(each**2)

1
4
9
16
25
36
49
64
81
100

In [19]:
for each in (1,2,3,4,5,6,7,8,9,10):
    print(each**2)

1
4
9
16
25
36
49
64
81
100

In [20]:
from sys import getsizeof
print(getsizeof([]))
print(getsizeof(()))

print(getsizeof([1,2,3]))
print(getsizeof([1,2,[2,3,4]]))
print(getsizeof((1,2,3)))

64
48
88
88
72

In [21]:
# print(len([1,2,3,4]))
# print(len([1,2,3,[1,2,3,4,5]]))

### list comprehension

In [22]:
# generate a list of square of integers from 1:10
o_list = []
for i in range(1,11):
    o_list.append(i**2)
    
o_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

syntax of list comprehension

In [23]:
# [<output_expression> for <variable> in <iterable> (<conditional statements>)]

In [24]:
# generate a list of square of integers from 1:10
[each**2 for each in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
# generate a list of square of even integers from 1:10
o_list = []
for i in range(1,11):
    if(i%2==0):
        o_list.append(i**2)
o_list

[4, 16, 36, 64, 100]

In [26]:
[i**2 for i in range(1,11) if(i%2==0)]

[4, 16, 36, 64, 100]

In [27]:
# generate a list of square of even integers and square root of odd integers between 1 : 10
o_list = []
for i in range(1,11):
    if(i%2==0):
        o_list.append(i**2)
    else:
        o_list.append(i**0.5)
o_list

[1.0,
 4,
 1.7320508075688772,
 16,
 2.23606797749979,
 36,
 2.6457513110645907,
 64,
 3.0,
 100]

In [28]:
[i**2 if i%2 == 0 else i**0.5 for i in range(1,11)]

[1.0,
 4,
 1.7320508075688772,
 16,
 2.23606797749979,
 36,
 2.6457513110645907,
 64,
 3.0,
 100]

In [29]:
# generate a list encoded values on integer (I) -10:10 => if I == 0; 'Z'; I == positive number; 'P' else 'N' 

o_list = []
for each in range(-10,10):
    if each > 0:
        o_list.append('P')
    elif each < 0:
        o_list.append('N')
    else:
        o_list.append('Z')
o_list

['N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Z',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P']

In [30]:
['P' if i > 0 else ('N' if  i < 0 else 'Z') for i in range(-10,11)]

['N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Z',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P']

In [31]:
### Map it to list comprehension
for i in range(1,3):
    for j in range(4,6):
        print(i*j)

4
5
8
10

In [32]:
[i*j for i in range(1,3) for j in range(4,6)]

[4, 5, 8, 10]

In [33]:
### Map it to list comprehension
for i in range(1,10):
    for j in range(4,6):
        print((i,j,i*j)) # multiple outputs

(1, 4, 4)
(1, 5, 5)
(2, 4, 8)
(2, 5, 10)
(3, 4, 12)
(3, 5, 15)
(4, 4, 16)
(4, 5, 20)
(5, 4, 20)
(5, 5, 25)
(6, 4, 24)
(6, 5, 30)
(7, 4, 28)
(7, 5, 35)
(8, 4, 32)
(8, 5, 40)
(9, 4, 36)
(9, 5, 45)

In [34]:
[(i,j,i*j) for i in range(1,3) for j in range(4,6)]

[(1, 4, 4), (1, 5, 5), (2, 4, 8), (2, 5, 10)]

In [35]:
[[i,j,i*j] for i in range(1,3) for j in range(4,6)]

[[1, 4, 4], [1, 5, 5], [2, 4, 8], [2, 5, 10]]

 list generator

In [36]:
# (<output_expression> for <variable> in <iterable> (<conditional statements>))

In [37]:
[i**2 for i in range(1,11) if(i%2==0)] # list comprehension

[4, 16, 36, 64, 100]

In [38]:
(i**2 for i in range(1,11) if(i%2==0)) # list generator

In [39]:
list((i**2 for i in range(1,11) if(i%2==0)))

[4, 16, 36, 64, 100]

In [40]:
for each in (i**2 for i in range(1,11) if(i%2==0)):
    print(each)

4
16
36
64
100

In [41]:
print(range(1,10))

range(1, 10)

In [42]:
print((i**2 for i in range(1,11) if(i%2==0)))

<generator object <genexpr> at 0x000001D587F6F248>

In [43]:
range(1,10)

range(1, 10)

In [44]:
for each in range(1,10):
    print(each)

1
2
3
4
5
6
7
8
9

In [45]:
for each in [i for i in range(1,4)]:
    print(each)

1
2
3

In [46]:
for each in (i for i in range(1,4)):
    print(each)

1
2
3

In [4]:
mytuple = (1,2,(3,4,5,(6.0, 70,(30,80,'B'))),'7',8,9,1,2,3,4,[5,[20,40,90,'String']],(1,2))
# fetch '8,9,1,2'
mytuple[4]

8