# Python Pandas (Data Series & Frames):

## Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [7]:
# !pip install pandas
# import pandas as pd
# import numpy as np

p=pd.Series(data=np.array(range(1,10)))
print(p)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

## Write a Python program to convert a Panda module Series to Python list and its type.

In [13]:
p=pd.Series(data=np.array(range(1,10)))
s=list(p)
print(s, type(s))

[1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>

## Write a Python program to add, subtract, multiply and divide two Pandas Series.

In [23]:
p=pd.Series(data=np.array(range(1,10)))
q=pd.Series(data=np.array(range(11,20)))

print(f'Addition of two series \n{p}\n and \n{q}\n is \n{p+q}')
print()
print(f'Subtraction of two series \n{p}\n and \n{q}\n is \n{p-q}')
print()
print(f'Multiplication of two series \n{p}\n and \n{q}\n is \n{p*q}')
print()
print(f'Division of two series \n{p}\n and \n{q}\n is \n{p/q}')

Addition of two series
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
 and
0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int32
 is
0    12
1    14
2    16
3    18
4    20
5    22
6    24
7    26
8    28
dtype: int32

Subtraction of two series
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
 and
0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int32
 is
0   -10
1   -10
2   -10
3   -10
4   -10
5   -10
6   -10
7   -10
8   -10
dtype: int32

Multiplication of two series
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
 and
0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int32
 is
0     11
1     24
2     39
3     56
4     75
5     96
6    119
7    144
8    171
dtype: int32

Division of two series
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
 and
0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int32
 is
0    0.090909
1    0.166667
2    0.230769
3    0.285714
4    0.333333
5    0.375000
6    0.411765
7    0.444444
8    0.473684
dtype: float64

## Write a Python program to compare the elements of the two Pandas Series.

In [29]:
p=pd.Series(data=np.array(range(1,10)))
q=pd.Series(data=np.array(range(11,20)))
print(p>q)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

# DATAFRAMES

## Write a Python program to display the following data columnwise.

## Write a Python program to create and display a Data Frame from a specified dictionary data which has the index labels.

In [36]:
p=pd.DataFrame(data={'a':[1,2,3],'b':[4,5,6], 'c':[3,2,5], 'd':[7,8,9]}, index=list("ABC"))
print(p)

   a  b  c  d
A  1  4  3  7
B  2  5  2  8
C  3  6  5  9

## Write a Python program to select the specified columns and rows from a given Data Frame.

In [51]:
p=pd.DataFrame(data={'a':[1,2,3],'b':[4,5,6], 'c':[3,2,5], 'd':[7,8,9]}, index=list("ABC"))
print(f'Dataframe is: \n{p}')
print(f'Selecting elements of 2nd, 3rd rows; and 3rd & 4th columns: \n')
print(p.loc['B':'C','c':'d'])

Dataframe is:
   a  b  c  d
A  1  4  3  7
B  2  5  2  8
C  3  6  5  9
Selecting elements of 2nd, 3rd rows; and 3rd & 4th columns:

   c  d
B  2  8
C  5  9

## Write a Python program to select the rows the score is between 15 and 20 (inclusive).

In [92]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James',
'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no',
'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(f'The given DataFrame is\n{df}')
print("Rows where score between 15 and 20 (inclusive):")
print(df[df['score'].between(15, 20)])

# Following code also works here:
# print(df[(df['score'] >= 15) & (df['score']<=20)])

The given DataFrame is
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Rows where score between 15 and 20 (inclusive):
        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

## Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [86]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James',
'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no',
'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data , index=labels)
print(f'The given DataFrame is\n{df}')
print("Rows where number of attempts in the examination is less than 2 and score greater than 15:")
print(df[(df['attempts'] < 3) & (df['score'] > 15)])

The given DataFrame is
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Rows where number of attempts in the examination is less than 2 and score greater than 15:
        name  score  attempts qualify
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes

## Write a Python program to append a new row 'k' to Data Frame with given values for each column. Now delete the new row and return the original data frame.

In [101]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James',
'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no',
'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print(f'The given DataFrame is\n{df}')

l=pd.DataFrame(['name':'k','score':'ABC', 'attempts': 17, 'qualify': 3, 'labels':'yes'],index='k')
df.append(l)

SyntaxError: invalid syntax (<ipython-input-101-08f4ac344a7a>, line 13)

## Write a Python program to sort the data frame first by 'name' in descending order, then by 'score' in ascending order.

In [107]:
# import pandas as pd
# import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James',
'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no',
'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Orginal rows:")
print(df)
df.sort_values(by=['name', 'score'], ascending=[False, True])
print("Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:")
print(df)

Orginal rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Write a Python program to insert a new column in existing Data Frame.

In [105]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James',
'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no',
'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Orginal rows:")
print(df)
color =['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
df['color'] = color
print("\nNew DataFrame after inserting the 'color' column")
print(df)

Orginal rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

New DataFrame after inserting the 'color' column
        name  score  attempts qualify   color
a  Anastasia   12.5         1     yes     Red
b       Dima    9.0         3      no    Blue
c  Katherine   16.5         2     yes  Orange
d      James    NaN         3      no     Red
e      Emily    9.0         2      no   White
f    Michael   20.0         3     yes   White
g    Matthew   14.5         1     yes    Blue
h      Laura    NaN         1      no   Green
i      Kevin    8.0         2      no   Green
j      Jonas   19.0         1     yes     Red

## Write a Python program to change the name 'James' to 'Suresh' in name column of the data frame.

In [103]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James',
'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no',
'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

print("Orginal rows:")
print(df)
print("\nChange the name 'James' to ‘Suresh’:")
df['name'] = df['name'].replace('James', 'Suresh')
print(df)

The given DataFrame is
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Orginal rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the name 'James' to ‘Suresh’:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes