In [1]:
# lambda function is also called anonymous function

In [2]:
## syntax of the lambda function
# lambda agrument(s):<output_expression>

In [3]:
# WAF to sum two numbers
def addition(arg1, arg2):
    return arg1+arg2

# function call
addition(2,3)

5

In [4]:
lf = lambda arg1,arg2:arg1+arg2
lf(2,3)

5

In [5]:
## WAF
def comp(a,b,c):
    return a*b - c
comp(3,4,5)

7

In [6]:
lf = lambda n1,n2,n3: n1*n2-n3
lf(3,4,5)

7

In [7]:
def comp(n):
    if (n%2 == 0):
        return "Even"
    else:
        return "Odd"
comp(5)

'Odd'

In [8]:
lf = lambda n: "Even" if n%2 == 0 else "Odd"
lf(5)

'Odd'

In [9]:
def comp(n):
    if n > 0 : return "P"
    elif n < 0 : return "N"
    else : return "Z"
comp(5)

'P'

In [10]:
lf = lambda n:"P" if n > 0 else "N" if n < 0 else "Z"
lf(4)

'P'

In [11]:
# lambda function is used inside a named function
def evaluate(a,b,c):
    return lambda x: a*x**2 + b*x + c

In [12]:
f = evaluate(2,3,4)
print(f)
for i in range(1,11):
    print(f(i))

<function evaluate.<locals>.<lambda> at 0x000002CA75B64708>
9
18
31
48
69
94
123
156
193
234

In [13]:
### filter(), map(), reduce()

filter() using lambda function

In [14]:
list_ = [1,2,3,4,5,6,7,8,9,10]

even_list = []
for each in list_:
    if(each%2==0):
        even_list.append(each)
even_list

[2, 4, 6, 8, 10]

In [15]:
even_list = [each for each in list_ if each%2 == 0]
even_list

[2, 4, 6, 8, 10]

In [16]:
# filter(function, iterables)
# filter -> generates loop given logic and data
even_list = list(filter(lambda x: x%2 != 0 , list_ ))
even_list

[1, 3, 5, 7, 9]

In [17]:
list_

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
# def filter_(x):
#     return x%2 == 0

# even_list = list(filter(filter_ , list_ ))
# even_list

map() with lambda function

In [19]:
list_
# generate a list with square of even numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
# [2,4,6,8,10] => filter
# [1,4,9,16...100] => map

In [21]:
list(map(lambda x: x**2 if x%2== 0 else x, list_)) # example of transformation

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [22]:
list(map(lambda x: x**2, list_)) # example of transformation

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
list(map(lambda x: x+2, list_))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [24]:
list(map(lambda x: x**0.5, list_))

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [25]:
list(range(-10,10))
# "p" else "n" else 'z'

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list(map(lambda x: 'p' if x > 0 else ('n' if x < 0 else 'z'), range(-10,10)))

['n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'z',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p']

reduce() using lambda function

In [27]:
from functools import reduce

In [28]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
reduce(lambda x,y : x+y , range(1,11))

55

    x = 1; y = 2 => x+y = 3
    x = 3; y = 3 => 6
    x = 4; y = 6 => 10
    x = 5; y = 10 => 15
    x = 6; y = 15 => 21
    x = 7; y = 21 => 28
    x = 8; y = 28 => 36
    x = 9; y = 36 => 45
    x = 10; y = 45 => 55

In [30]:
reduce(lambda x,y : x-y , range(1,11))

-53

In [31]:
## get maximum value of the list range(1,11)
reduce(lambda x,y : x if x > y else y, range(1,11))

10

In [32]:
## get minimum value of the list range(1,11)
reduce(lambda x,y : x if x < y else y, range(1,11))

1

In [33]:
# max(range(1,10))

In [34]:
## fibonacci series of 1,1,2,3,5,8,13,21,34,...
# WAF to generate fibonacci series for given length "N"